body {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  color: DarkBlue;
}

h2 {
  color: DarkRed;
  background-color: LightGrey;
}

h1,
h2 {
  font-family: Helvetica, Arial, sans-serif;
}

img {
  border: 1px solid grey;
}

div {
  border: 1px solid grey;
  background-color: LightGrey;
  padding: 10px;
  margin: 20 px;
}